@{
  Layout = "_Layout";
}

@section scripts {

}
<div class="row welcome">
  <p class="col-md-1 col-md-offset-11">Welcome @Model["user"].GetName()</p>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">City Experiences</a>
    </div>
    <div class="navbar-header">
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="/user/@Model["user"].GetId()/home">Home</a></li>

      <form class="navbar-form navbar-left" action="/user/@Model["user"].GetId()/experiences/tag/search" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="tag-name" placeholder="Search By Keyword">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

      <form class="navbar-form navbar-left" action="/user/@Model["user"].GetId()/experiences/city/search" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="city-name" placeholder="Search By City">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      User Profile
      <li><a href="/user/@Model["user"].GetId()/profile"><span class="glyphicon glyphicon-user"></span></a></li>
      Create Experience
      <li><a href="/user/@Model["user"].GetId()/experience/new"><span class="glyphicon glyphicon-plus-sign"></span> Create Experience</a></li>
      Logout
      <li><a href="/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
  </div>
</nav>



<body>
  <div class="container">
    <div class="well">
      <h1>Edit Experience</h1>

    <h1>Title: @Model["experience"].GetTitle()</h1>
    <h2>Location: @Model["experience"].GetCityName()</h2>
      <br>
      <div id="formOne">
        <form class="form-group" action="/user/@Model["user"].GetId()/experience/@Model["experience"].GetId()/edit" method="post">
          <label for="experience-description">Description</label>
          <input type="text" name="experience-description"  value="@Model["experience"].GetDescription()">
          <br>
          <br>
          <label for="experience-photo">Photo Link</label>
          <input type="text" name="experience-photo"  value="@Model["experience"].GetPhotoLink()">
          <br>
          <br>
          <label for="experience-price">Price</label>
          <input type="text" name="experience-price"  value="@Model["experience"].GetPrice()">
          <br>
          <br>
          <button type="submit" name="btn btn-info">Update</button>
        </form>
      </div>

  </div>
  </div>

</body>
